.loginContainer {
  background-color: var(--background-purple);
  display: flex;
  height: 100vh;
  justify-content: center;

  .logo {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 100%;
  }

  .loginName::after {
    content: '';
    width: 190px;
    background: var(--background-purple);
    height: 4px;
    display: block;
  }
  
  .loginWhiteContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    padding: 50px;
    width: 50%;
    height: 100%;
  }

  .login-form {
    align-items: center;
    display: flex;
    flex-direction: column;

    .login-form-group {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;

      span {
        margin: 5px;
      }

      .form-field {
        padding: 10px;
      }
    }

    .form-group {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      .form-field {
        padding: 10px;
      }

      span {
        margin: 5px;
      }
    }

    .button {
      border: 1px solid var(--background-purple);
      border-radius: 5px;
      background-color: transparent;
      cursor: pointer;
      color: var(--background-purple);
      font-weight: 700;
      margin-top: 10px;
      padding: 10px;
      width: 100%;

      &:hover {
        background-color: var(--background-purple);
        color: white;
      }
    }

    a {
     width: 100%;

     .registerButton {
        border: 1px solid var(--background-purple);
        border-radius: 5px;
        background-color: transparent;
        cursor: pointer;
        color: var(--background-purple);
        font-weight: 700;
        margin-top: 10px;
        padding: 10px;
        width: 100%;

        &:hover {
          background-color: var(--background-purple);
          color: white;
        }
      } 
    }
  }
}

@media (max-width: 800px) {
  .loginContainer {
    background-color: var(--background-purple);
    margin: 0 auto;
  
    .logo {
      display: none;
    }
    
    .loginWhiteContainer {
      min-height: 95vh;
      height: 100%;
      width: 100%;
      margin: 0 auto;
    }
  }
}